.company-outer{
    display:flex;
    justify-content: space-evenly;
    /* background-color:green; */
}
.company-image{
    width:25%;
    height:85px;
}
h2{
    color:#007367;
    display:block;
    text-align:center;
    /* background-color:red; */
    /* border-color:blue; */
}